<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PSA Personel login Page</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PSA login page.css') }}">

  </head>
  <body>
    <div class="container">
      <form action="/PSAlogin" method="POST"> 
        <h1>Login</h1>
        <div class="sections">
            <a href="/User login page">User</a>
            <a href="/PSA login page">PSA Personel</a>
        </div>
        <div class="input-box">
          <input type="text" name="employee_id" placeholder="PSA admin ID"required>

        </div>
        <div class="input-box">
          <input type="text" name="username" placeholder="username" required />
          <!-- <i class="bx bxs-user"></i> -->
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="password" required />
          <!-- <i class="bx bxs-lock-alt"></i> -->
        </div>

        <div class="remember-forgot">
          <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn">Login</button>


        </div>
      </form>
    </div>
  </body>
</html>
